.twitterDarkBlueBackground {
    background-color: #0084b4!important;
}

.twitterBlueBackground {
    background-color: #00aced!important;;
}

.twitterLightBlueBackground {
    background-color: #1dcaff!important;;
}

.twitterLightBlueBackgroundButton {
    background-color:  #00aced!important;
    border-color:  #00aced!important;
    color: #00aced!important;
}


.twitterLightGrayBackground {
    background-color: #c0deed!important;;
}

.row-mt-10 {
    margin-top: 10px;
}

.row-mt-20 {
    margin-top: 20px;
}